* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0f10;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  display: flex;
}

main {
  margin-left: 280px;
  padding: 2.5rem 2rem;
  min-height: 100vh;
  width: calc(100% - 280px);
  background-color: #0d0f10;
  display: flex;
  flex-direction: column;
  align-items: center;
}